---
import Layout from "@/layouts/Layout.astro";
import Blogs from "@/components/home/Blogs.astro";
---

<Layout
	title="Blog | Yogesh Bhutkar"
	description="Read my latest blog posts on web development, programming, and technology."
>
	<main
		id="main-content"
		class="mx-auto my-5 flex flex-col gap-7 font-light max-sm:px-5 sm:max-w-sm md:max-w-xl lg:max-w-2xl"
	>
		<Blogs stagger />
	</main>
</Layout>
