---
import Layout from "@/layouts/Layout.astro";
import Blogs from "@/components/home/Blogs.astro";
import Work from "@/components/home/Work.astro";
import Projects from "@/components/home/Projects.astro";
import About from "@/components/home/About.astro";
---

<Layout title="Home | Yogesh Bhutkar">
	<main
		class="stagger-container mx-auto my-5 flex flex-col gap-16 font-light max-sm:px-6 sm:max-w-sm md:max-w-xl lg:max-w-2xl"
	>
		<About />
		<Work />
		<Blogs count={3} />
		<Projects />
	</main>
</Layout>
