<section class="flex flex-col gap-2" style="--stagger-index: 0">
	<h1 class="font-semibold">Yogesh Bhutkar | Software Engineer</h1>
	<div class="text-muted flex flex-col gap-4 leading-relaxed">
		<p>
			I'm a software engineer, UI/UX designer, minimalist, problem
			solver, eternal learner, and open-source enthusiast.
		</p>
		<p>
			I love to build tech for the future. In this process, I admit,
			I've broken a few things, learned a lot, and met some amazing
			people. But through it all, my passion for technology and
			innovation has only grown stronger. I'm excited to see where
			this journey takes me next 🚀
		</p>
	</div>
</section>
