---
import PostList from "../PostList.astro";
import { getCollection } from "astro:content";

interface Props {
	count?: number;
	stagger?: boolean;
}

const { count, stagger = false } = Astro.props;

const blogs = (await getCollection("blogs"))
	.sort(
		(a, b) =>
			new Date(b.data.publishedDate).valueOf() -
			new Date(a.data.publishedDate).valueOf(),
	)
	.slice(0, count || undefined);
---

<section>
	{
		count ? (
			<div class="mb-3 flex items-center justify-between">
				<h1 class="max-sm:text-md mb-1 text-left font-medium">
					Writings
				</h1>
				<a
					href="/blog"
					class="text-sm decoration-blue-400 decoration-wavy decoration-2 underline-offset-4 hover:underline max-sm:underline dark:decoration-blue-300"
				>
					See all writings
				</a>
			</div>
		) : (
			<div class="mb-3 flex items-center justify-between">
				<h1 class="max-sm:text-md mb-1 text-center font-medium">
					All Writings
				</h1>
			</div>
		)
	}

	<PostList blogs={blogs} stagger={stagger} />
</section>
