---
import type { CollectionEntry } from "astro:content";
import Post from "@/components/Post.astro";

type Props = {
	blogs: CollectionEntry<"blogs">[];
	stagger: boolean;
};

const { blogs, stagger } = Astro.props;
---

<div class=`group space-y-2 ${stagger ? "stagger-container" : ""}`>
	{
		blogs.map((blog, idx) => (
			<Post blog={blog} style={`--stagger-index:${idx}`} />
		))
	}
</div>
