---
import Layout from "@/layouts/Layout.astro";
import Work from "@/components/home/Work.astro";
---

<Layout
	title="Work | Yogesh Bhutkar"
	description="A showcase of my professional work and projects."
>
	<main
		class="mx-auto my-5 flex flex-col gap-7 max-sm:px-4 sm:max-w-sm md:max-w-xl lg:max-w-2xl"
	>
		<Work detailed />
	</main>
</Layout>
